html {
    box-sizing: border-box;

    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;

    margin: 0;
    padding: 0;
}

body {
    background-image: var(--gradient-1);

    color: var(--red-desat);
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.05rem;
    line-height: 1.6;

    @media (--md-viewport) {
        display: flex;

        flex-direction: column;
    }

    @media (--lg-viewport) {
        height: 100vh;
    }
}

img {
    display: block;
}

label {
    display: none;
}

h1 {
    margin-bottom: 3rem;

    color: var(--gray);
    font-size: 3rem;
    letter-spacing: 1.7rem;
    line-height: 1.23;
    text-transform: uppercase;

    @media (--lg-viewport) {
        font-size: 4.8rem;
        letter-spacing: 0.53em;
        line-height: 1.33;
    }
}

h1 span {
    color: var(--red-desat);
    font-weight: 300;
}
