.container {
    max-width: 144rem;

    text-align: center;

    @media (--lg-viewport) {
        text-align: left;
    }

    @media (--lg-viewport) and (max-width: 1440px) {
        max-width: 100vw;
        overflow: hidden;
    }

    @media (--xl-viewport) {
        margin: auto;

        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.24);
    }
}

.grid {
    @media (--lg-viewport) {
        display: grid;

        grid-template-columns: 2fr 1.3fr;
        grid-template-rows: 1fr 4fr;

        background-image: url("../images/bg-pattern-desktop.svg"), var(--gradient-1);
    }
}

header {
    padding-top: 1.875em;
    padding-bottom: 1.875em;

    @media (--lg-viewport) {
        display: grid;

        align-content: center;
    }

    @media (--md-viewport) and (max-width: 959px) {
        max-width: 67rem;
        margin: auto;
    }
}

.logo {
    max-width: 10rem;

    @media (--md-viewport) {
        max-width: 100%;
    }
}

picture {
    grid-area: 1 / 2 / 3 / 3;
}

main {
    padding-top: 6.5rem;
    padding-bottom: 4.2rem;

    @media (--md-viewport) and (max-width: 959px) {
        position: relative;

        max-width: 530px;
        margin: -40rem auto 3rem;

        background: #fff;
    }
}

footer {
    padding: 2rem 0;
}
