.row {
    padding-right: 1.875em;
    padding-left: 1.875em;

    @media (--lg-viewport) {
        padding-right: 22rem;
        padding-left: 16rem;
    }
}

.hero {
    max-width: 610px;
    margin: auto;
}
